<template>
  <v-img height="100vh" src="https://images.wallpaperscraft.com/image/lawn_forest_mountains_144578_3840x2400.jpg">
      <v-container fill-height class="d-flex justify-center align-center">
      <v-card
        class="mx-auto elevation-6 rounded-lg"
        max-width="400"
        flat
        tile
        
      >
        <v-img
          class="white--text align-end"
          height="100px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >
          <v-card-title class="white--text text-center" >Login</v-card-title>
        </v-img>
        <v-card-text>
            <v-text-field            
                label="Email"
                placeholder="example@cyrus.com"
                solo-inverted
                required
              ></v-text-field>
            <v-text-field
                label="Password"
                placeholder="**********"
                solo-inverted
                
                required
              ></v-text-field>
            </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
          <v-btn
            color="blue"
            text
          >
            Sign Up
          </v-btn>
    
          <v-btn
            color="black"
            text
          >
            Sign In
          </v-btn>
        </v-card-actions>
      </v-card>
      </v-container>
  </v-img>
</template>