<template>
  <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-img
      class="white--text align-end"
      height="100px"
      src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    >
      <v-card-title class="white--text text-center" >Login</v-card-title>
    </v-img>
    <v-card-text>
        <v-text-field
            label="Full Name"
            placeholder="John Doe"
            required
          ></v-text-field>
        <v-text-field
            placeholder="Snowy Rock Pl"
            counter="25"
            required
          ></v-text-field>
          <v-text-field
            label="City"
            placeholder="El Paso"
            required
          ></v-text-field>
          <v-text-field
            label="State/Province/Region"
            required
            placeholder="TX"
          ></v-text-field>
          <v-text-field
            label="ZIP / Postal Code"
            required
            placeholder="79938"
          ></v-text-field>
          <v-autocomplete
            label="Country"
            placeholder="Select..."
            required
          ></v-autocomplete>
        </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
      <v-btn
        color="blue"
        text
      >
        Sign Up
      </v-btn>

      <v-btn
        color="black"
        text
      >
        Sign In
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    
  }
</script>