<template>
    <v-app light>
        <v-main>
            
                <nuxt />
           
        </v-main>
   <v-footer
      class="justify-center"
      color="#292929"
      height="100"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — Team Cyrus
      </div>
    </v-footer>
    </v-app>
</template>