<template>
<div>
<Login />
<Sign />
</div>
</template>

<script>
import Login from '../components/LoginCard'
import Sign from '../components/SignUpCard'

  export default {
    layout: 'light',
    components: {
      Login,
    }
  }
</script>